:root {
    --background-color: #FFFFFF;
    --main-card-background-color: #2F303A;
    --ourteam-background-color: #F5F4FA;
    --main-font: 'Roboto', 'Raleway', sans-serif;
    --second-font: 'Raleway', sans-serif;
    --nav-font-color: #212121;
    --nav-contact-font-color: #757575;
    --headers-font-color: #212121;
    --paragraph-font-color: #757575;
}

body {
font-family: var(--main-font);
background-color: var(--background-color);
}

/* header */
/* nazwa strony */
a.header-title-style {
    font-family: 'Raleway', 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    /* line-height: 31px; */
    /* identical to box height */
    letter-spacing: 0.03em;
    text-decoration: none;
    color: #000000;
    cursor: pointer;
}

/* "WEB" dot. header i footer */
span.web-title-style {
    color: #2196F3;
}

/* menu navigation */
.menu-nav {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    /* line-height: 16px; */
    letter-spacing: 0.02em;
    color: var(--nav-font-color);
    cursor: pointer;
    list-style-type: none;
}

.menu-nav a {
    color: inherit;
    text-decoration: none;
}

/* menu nawigacja kontakt */
.menu-contacts {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    /* line-height: 16px; */
    letter-spacing: 0.02em;
    color: var(--nav-contact-font-color);
    cursor: pointer;
    list-style-type: none;
}

.menu-contacts a {
    color: inherit;
    text-decoration: none;
}

/* main */
/* section-no-1: main card color */
.section-no-1 {
    background-color: var(--main-card-background-color);
}

.main-card {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    /* line-height: 60px; */
    /* or 136% */
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
}
/* button "zamów usługę */
button.order-button {
    width: 200px;
    height: 50px;
    left: 700px;
    top: 430px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    /* line-height: 30px; */
    /* identical to box height, or 188% */
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    background-color: #2196F3;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

button:focus
button:hover {
    color: #2196F3;
}

/* section-no-2: Lorem ipsum */
.lorem-ipsum {
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
}

.lorem-ipsum h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    /* line-height: 16px; */
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--headers-font-color);
}

.lorem-ipsum p {
    font-size: 14px;
    line-height: 1.71;
    /* line-height: 24px; */
    /* or 171% */
    letter-spacing: 0.03em;
    color: var(--paragraph-font-color);
}

/* section-no-3: "czym się zajmujemy" */
.section-no-3 h2 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    /* line-height: 42px; */
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--headers-font-color);
}

.section-no-3 ul {
    list-style-type: none;
}

/* section-no-4: "Nasz zespół" */
.section-no-4 {
    background-color: var(--ourteam-background-color);
}

.section-no-4 ul {
    list-style-type: none;
}

.section-no-4 h3 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1875;
    /* line-height: 19px; */
    /* identical to box height */
    /* text-align: center; */
    letter-spacing: 0.03em;
    color: var(--headers-font-color);
}

.section-no-4 p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 1.1875;
    /* line-height: 19px; */
    /* identical to box height */
    /* text-align: center; */
    letter-spacing: 0.03em;
    color: var(--paragraph-font-color);
}

/* hover&focus - all lists*/
nav a, ul a:hover,
nav a, ul a:focus {
    color: #2196F3;
}
/* ---------------------------------------------- */
/* portfolio */
/* portfolio-section-no-1 */
.portfolio-section-no-1 ul {
    list-style-type: none;
}

/* filters buttons */
.portfolio-section-no-1 button {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    /* line-height: 26px; */
    /* identical to box height, or 162% */
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    cursor: pointer;
    border: none;
    background-color: #F5F4FA;
    border-radius: 4px;
}
/* buttton' hover&focus */
.portfolio-section-no-1 button:hover,
.portfolio-section-no-1 button:focus {
    background-color: #2196F3;
    color: #ffffff;
}

/* portfolio-section-no-4 */
.portfolio-section-no-2 ul {
    list-style-type: none;
}

.portfolio-section-no-2 h4 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    /* line-height: 36px; */
    /* identical to box height, or 200% */
    letter-spacing: 0.06em;
    color: var(--headers-font-color);
}

.portfolio-section-no-2 p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 1.875;
    /* line-height: 30px; */
    /* identical to box height, or 188% */
    letter-spacing: 0.03em;
    color: var(--paragraph-font-color);
}

/* footer */
.footer-contact {
    font-family: 'Roboto', sans-serif;
    color: #ffffff60;
    font-size: 14px;
    line-height: 1.71;
    /* line-height: 24px; */
    /* or 171% */
    letter-spacing: 0.03em;
    text-decoration: none;
    background-color: #2F303A;
}

/* title webstudio - footer */
.footer-title-style {
    font-family: 'Raleway', 'Roboto', sans-serif;
    font-size: 26px;
    line-height: 1.19;
    /* line-height: 31px; */
    /* identical to box height */
    letter-spacing: 0.03em;
    text-decoration: none;
    color: #FFFFFF;
    cursor: pointer;
}

/* address - footer*/
.footer-contact ul {
    list-style-type: none;
}

.city {
    color: #ffffff;
    font-style: normal;
}

.mail, .phone-number {
    color: #ffffff60;
    font-style: normal;
    text-decoration: none;
}
